/* Adiciona a animação de movimento lateral */
@keyframes moveSideways {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

.move {
  animation: moveSideways 4s infinite alternate; /* Define a animação com duração de 4 segundos e repetição infinita em movimento alternado */
}

/* Estilo do contêiner da página inicial */
.page.home {
  display: flex;
  width: 100vw; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow-y: hidden; /* Previne rolagem padrão */
  background: transparent; /* Transparente para herdar o gradiente do body */
}

/* Estilo da seção esquerda da página inicial */
.page.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Texto alinhado à esquerda */
  padding: 20px;
  width: 40%; /* Ocupa 40% da largura da tela */
  margin-left: 10%; /* Margem lateral esquerda */
  margin-top: 35px; /* Espaçamento superior reduzido */
  height: 100%;
  animation: slideUp 1s ease-in-out; /* Animação de deslizar para cima */
}

/* Estilo da seção direita da página inicial */
.page.home .right {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centralizar verticalmente */
  align-items: center; /* Alinhar ícone ao centro */
  padding: 20px;
  width: 40%; /* Ocupa 40% da largura da tela */
  margin-right: 3%; /* Margem lateral direita */
  height: 100%; /* Garante que a altura ocupe toda a tela */
}

/* Contêiner do ícone */
.icon-container {
  display: flex;
  justify-content: center; /* Alinhar ícone ao centro */
  align-items: center;
  width: 100%; /* Ocupa a largura total */
}

/* Estilo do card */
.card {
  position: absolute;
  top: 20px;
  right: 20px; /* Colado na borda direita */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Aumentar o espaçamento entre os ícones */
  background: #0066ff; /* Cor do card ajustada para a cor do nome (Kali Linux) */
  padding: 20px; /* Aumentar o padding */
  border-radius: 8px;
}

/* Estilo do ícone */
.icon {
  font-size: 30px; /* Tamanho dos ícones */
  color: #fcfcfc; /* Novo tom de roxo */
  transition: color 0.3s;
}

.icon:hover {
  color: #FFD700; /* Cor dourada ao passar o mouse */
}

/* Estilo do ícone com glitch */
.glitch-icon {
  width: 20vw; /* Tamanho relativo à largura da tela */
  height: 20vw; /* Tamanho relativo à altura da tela */
  animation: shine 10s infinite, moveSideways 4s infinite alternate; /* Animações de brilho e movimento lateral */
  background: linear-gradient(45deg, #FFD700, #D8BFD8, #8B00FF, #6A0DAD); /* Degradê roxo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilo do título */
h1 {
  font-size: 4vw; /* Tamanho ajustado da fonte */
  color: #DA70D6; /* Cor do Kali Linux */
  line-height: 1.2; /* Reduzir espaçamento entre linhas */
  margin-bottom: 10px; /* Espaçamento reduzido abaixo do título */
}

/* Estilo do parágrafo */
p {
  font-size: 2vw; /* Tamanho relativo à largura da tela (texto mais alto) */
  color: #9d9d9d; /* Cor cinza para contraste */
  margin-bottom: 5px; /* Espaçamento reduzido entre parágrafos */
}

/* Animação de brilho */
@keyframes shine {
  0%, 20%, 100% {
    opacity: 1;
  }
  10%, 30% {
    opacity: 0.5;
  }
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Classe para ocultar elementos */
.hidden {
  opacity: 0;
}

/* Animação de fade-in */
.page.home .fade-in {
  animation: fadeIn 1s ease-in-out; /* Animação de fade-in */
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
  .page.home {
    flex-direction: column; /* Alinhando conteúdo em coluna */
    justify-content: center; /* Centralizando verticalmente */
    padding: 20px; /* Adiciona padding para espaçamento */
  }

  .page.home .left {
    align-items: center; /* Centralizando o conteúdo */
    width: 100%; /* Ocupa toda a largura */
    margin-left: 0; /* Remove margem lateral esquerda */
    margin-top: 10px; /* Ajusta espaçamento superior */
  }

  .page.home .right {
    align-items: center; /* Centraliza o ícone ao centro */
    justify-content: center; /* Centraliza o ícone verticalmente */
    width: 100%; /* Ocupa toda a largura */
    margin-right: 0; /* Remove margem lateral direita */
    margin-top: 10px; /* Ajusta espaçamento superior */
    margin-bottom: 80px;
  }

  h1 {
    font-size: 6vw; /* Tamanho maior para dispositivos móveis */
    text-align: center; /* Alinhamento centralizado */
  }

  p {
    font-size: 4vw; /* Tamanho maior para dispositivos móveis */
    text-align: center; /* Alinhamento centralizado */
    margin-bottom: 10px; /* Ajuste de espaçamento */
  }

  .glitch-icon {
    width: 30vw; /* Tamanho maior em dispositivos móveis */
    height: 30vw; /* Tamanho maior em dispositivos móveis */
  }

  .card {
    position: static; /* Remove a posição fixa em dispositivos móveis */
    flex-direction: row; /* Alinhando ícones em linha em dispositivos móveis */
    gap: 10px; /* Ajusta o espaçamento entre os ícones */
    width: auto; /* Ajusta a largura para caber os ícones em linha */
    padding: 10px; /* Ajuste de padding para dispositivos móveis */
  }
}
