/* RainEffect.css */
.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: min(180px, 20vw);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none; /* Garante que o fundo não afete a interação do usuário com a página */
  z-index: 1; /* Ajusta os riscos acima do gradiente de fundo */
}

.rain-column {
  flex: 1; /* Distribui uniformemente o espaço entre as colunas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.raindrop {
  width: 2px; /* Voltando para a espessura original */
  height: 10px; /* Voltando para o tamanho original */
  background: rgba(255, 255, 255, 0.2); /* Voltando para a opacidade original */
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

/* Adicione media queries para responsividade */
@media (max-width: 768px) {
  .rain-container {
    width: min(25px, 10vw);
  }

  .raindrop {
    width: 1.5px; /* Mantendo proporção com a versão desktop */
    height: 8px;
    margin-bottom: 5px;
  }
}
