.nav {
  display: flex;
  gap: 20px; /* Maior espaçamento entre os botões */
  padding: 10px;
  position: fixed; /* Trocar para fixed para manter o menu sempre visível */
  top: 50px; /* Ajuste da posição para alinhar com o texto */
  left: 10%; /* Margem lateral alinhada com o texto */
  background: none; /* Remover fundo do menu */
  width: auto; /* Largura automática */
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #f1f1f1; /* Mesma cor do ícone */
  font-size: 20px; /* Botões maiores */
  padding: 10px;
  transition: color 0.3s;
}

.menu-item:hover {
  text-decoration: underline;
  color: #DA70D6; /* Cor roxa ao passar o mouse */
}

.menu-icon {
  display: none;
}

.menu-text {
  display: inline;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: row; /* Manter itens em linha */
    top: 0; /* Alinhar ao topo */
    left: 50%; /* Centralizar horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralizar */
    width: 100%; /* Ocupa toda a largura da tela */
    padding: 10px 0; /* Remover padding lateral */
    gap: 10px; /* Reduzir espaçamento entre os botões */
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center; /* Centralizar itens */
  }
  .menu-text {
    display: none;
  }
  .menu-icon {
    display: inline;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll; /* Ativa a rolagem vertical */
  scroll-behavior: smooth; /* Suaviza a rolagem */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: row; /* Conteúdo em linha por padrão */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinhar conteúdo à esquerda */
  padding: 20px;
  width: 40%; /* Ocupa 40% da largura da tela */
  margin-left: 10%; /* Margem lateral esquerda */
  margin-top: 50px; /* Espaçamento superior para mover o texto para baixo */
  height: 100%;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 40%; /* Ocupa 40% da largura da tela */
  height: 100%;
}

@media (max-width: 768px) {
  .page {
    flex-direction: column; /* Conteúdo em coluna para dispositivos móveis */
  }
  .left {
    align-items: center; /* Centralizar conteúdo em dispositivos móveis */
    margin-left: 0; /* Remover margem esquerda em dispositivos móveis */
  }
  .right {
    margin-right: 0; /* Remover margem direita em dispositivos móveis */
  }
}

/* Estilos para o card de ícones de contato */
.card {
  position: fixed; /* Fixa a posição do card na tela */
  top: 20px;
  right: 20px; /* Margem lateral direita */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os ícones */
  background: #DA70D6; /* Cor do card ajustada */
  padding: 20px; /* Padding para espaçamento interno */
  border-radius: 8px;
}

.icon {
  font-size: 30px; /* Tamanho dos ícones */
  color: #fcfcfc; /* Cor dos ícones */
  transition: color 0.3s;
}

.icon:hover {
  color: #FFD700; /* Cor ao passar o mouse */
}

/* Estilos responsivos para o card de contato */
@media (max-width: 768px) {
  .card {
    position: fixed; /* Mantenha a posição fixa no topo da tela em dispositivos móveis */
    bottom: 20px; /* Alinha o card ao rodapé em dispositivos móveis */
    top: unset; /* Remove a posição do topo */
    right: 10px; /* Margem lateral direita reduzida */
    left: 10px; /* Adiciona margem lateral esquerda */
    flex-direction: row; /* Alinha ícones em linha */
    gap: 10px; /* Espaçamento reduzido entre os ícones */
    width: auto; /* Ajusta a largura para caber os ícones em linha */
    padding: 10px; /* Padding reduzido para dispositivos móveis */
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center; /* Centraliza os ícones */
  }
  .icon {
    font-size: 6vw; /* Tamanho ajustado para dispositivos móveis */
  }
}
